APP_NAME="Conectate TV"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://10.1.19.245:8098
APP_TIMEZONE=America/Bogota

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=conectate_tv
DB_USERNAME=conectate_tv
DB_PASSWORD=change_me

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

PANEL_BIND_IP=0.0.0.0
PANEL_PORT=8098
PANEL_USER=admin

ASTRA_NAME="Astra Principal"
ASTRA_HOST=10.0.14.2
ASTRA_PORT=8000
ASTRA_USER=admin
ASTRA_PASSWORD=
ASTRA_SCHEME=http
